.promo
    display: flex
    justify-content: center
    align-items: center
    margin: 69px 0 69px 0
    span
        color: #274C5B
        font-size: 38px
        margin-left: 5px
    &_container
        max-width: 1600px
        height: 60px 
        display: flex
        justify-content: space-between
        align-items: center
    &_logo
        display: flex
        margin-right: 150px
    &_link
        margin-right: 130px
        a
            margin-right: 25px
            color: #274C5B
            font-family: 'Roboto', sans-serif
            font-size: 20px
            font-style: normal
            font-weight: 700
            line-height: normal

.search-container
    position: relative
    width: 300px 
.search-input 
    width: 100%
    padding: 10px
    border: none
    background-color: #FAFAFA
    border-radius: 36px
.search-button 
    width: 18%
    background-color: #FAFAFA
    position: absolute
    top: 0
    right: 0
    border: none
    border-radius: 36px
    cursor: pointer
    img
        width: 100%
        

.food
    background: url('../img/image_7.png') center (center/cover)no-repeat
    background-color: #F1EFF0
    width: auto
    height: 898px
    &_header
        color: #68A47F
        font-family: 'Yellowtail', cursive
        font-size: 36px
        font-style: normal
        font-weight: 400
        line-height: normal
        margin-bottom: 8px
    &_subheader
        color: #274C5B
        font-family: 'Roboto', sans-serif
        font-size: 70px
        font-style: normal
        font-weight: 800
        line-height: normal
        padding-bottom: 23px
    &_btn
        background-color: #EFD372
        padding:  28px 39px
        border-radius: 16px
        border-style: none
        a
            color: #274C5B
            font-family: 'Roboto', sans-serif
            font-size: 20px
            font-style: normal
            font-weight: 700
            line-height: normal
    &_container
        padding: 246px 0 246px 260px

.offer-banner
    width: auto
    height: auto
    &_container
        display: flex
        justify-content: center
        padding: 150px 0 150px 0
        div
            img
                width: 100%
                padding-right: 36px

.about
    background-color: #F9F8F8
    &_img
        img
            width: 100%
    &_container
        padding: 20px 0
        display: flex
        justify-content: center
    &_text
        display: block
        max-width: 700px
        height: auto
    &_header
        padding-top: 120px
        color: #7EB693
        font-family: 'Yellowtail', cursive
        font-size: 36px
        font-style: normal
        font-weight: 400
        line-height: normal
        padding-bottom: 8px
    &_subheader
        color: #274C5B
        font-family: 'Roboto', sans-serif
        font-size: 50px
        font-style: normal
        font-weight: 800
        line-height: normal
        padding-bottom: 14px
    &_descr
        color: #525C60
        font-family: 'Open Sans', sans-serif
        font-size: 18px
        font-style: normal
        font-weight: 400
        line-height: 165.4%
    &_points
        padding: 46px 0 0 0
        display: flex
        align-items: center
        &_icon
            display: flex
            justify-content: center
            align-items: center
            background-color: #fff
            border-radius: 20px
            width: 100px
            height: 100px
            margin-right: 19px
        &_header
            color: #274C5B
            font-family: 'Roboto', sans-serif
            font-size: 25px
            font-style: normal
            font-weight: 800
            line-height: normal
            padding-bottom: 7px
        &_subheader
            color: #525C60
            font-family: 'Open Sans', sans-serif
            font-size: 18px
            font-style: normal
            font-weight: 400
            line-height: 165.4%
    &_btn
        margin-top: 40px
        background-color: #274C5B
        padding:  28px 39px
        border-radius: 16px
        border-style: none
        a
            color: #FFFFFF
            font-family: 'Roboto', sans-serif
            font-size: 20px
            font-style: normal
            font-weight: 700
            line-height: normal

.catalog
    padding-bottom: 100px
    &_container
        max-width: 1400px
        margin: 0 auto
    &__header
        padding-top: 176px
        color: #7EB693
        font-family: 'Yellowtail', cursive
        font-size: 36px
        font-style: normal
        font-weight: 400
        line-height: normal
        text-align: center
    &__subtitle
        padding-top: 8px
        color: #274C5B
        text-align: center
        font-family: 'Roboto', sans-serif
        font-size: 50px
        font-style: normal
        font-weight: 800
        line-height: normal
    &__contents
        margin-top: 60px
        display: none
        justify-content: center
        flex-wrap: wrap
        &_active
            display: flex
    &__item
        width: 335px
        min-height: 483px
        border: 1px solid #F9F8F8
        border-radius: 36px
        padding: 20px 20px 26px 20px
        overflow: hidden
        margin: 0px 7.5px 0 7.5px
        margin-bottom: 20px
    &__img
        max-width: 100%
        display: block
        margin: 0 auto
    &__subheader
        color: #274C5B
        margin: 0 0 0 30px
        font-family: 'Roboto', sans-serif
        font-size: 20px
        font-style: normal
        font-weight: 600
        line-height: normal
    hr
        margin: 0 0 0 30px 
        background: #DEDDDD
        margin-top: 20px
        margin-bottom: 20px
    &__footer
        margin: 0 0 0 30px
        display: flex
        justify-content: space-between
        align-items: center
    &__prices
        display: flex
        align-items: center
    &__old-price
        color: #B8B8B8
        text-align: center
        font-family: 'Open Sans', sans-serif
        font-size: 15px
        font-style: normal
        font-weight: 600
        line-height: normal
        padding-right: 8px
    &__price
        color: #274C5B
        text-align: center
        font-family: 'Open Sans', sans-serif
        font-size: 18px
        font-style: normal
        font-weight: 700
        line-height: normal
    &__btn
        width: 220px
        height: 80px
        border-radius: 16px
        background: #274C5B
        padding: 28px 49px 28px 46px
        display: block
        margin: 122px auto
    &__wrapper
        display: flex
        width: calc( 200% + 40px )

.testimonial
    background: url('../img/image_8.png') center (center/cover)no-repeat
    &_container
        max-width: 1030px
        text-align: center
        display: block
        margin: 0 auto
    &_wrapper
        text-align: center
        max-width: 780px
        display: block
        margin: 0 auto
    &_header
        padding-top: 164px
        color: #7EB693
        font-family: 'Yellowtail', cursive
        font-size: 36px
        font-style: normal
        font-weight: 400
        line-height: normal
    &_subheader
        padding-top: 8px
        color: #274C5B
        text-align: center
        font-family: 'Roboto', sans-serif
        font-size: 50px
        font-style: normal
        font-weight: 800
        line-height: normal
    &_img
        padding-top: 60px
        padding-bottom: 20px
        img
            border-radius: 100%
    &_descr
        padding-top: 40px
        color: #525C60
        text-align: center
        font-family: 'Open Sans', sans-serif
        font-size: 18px
        font-style: normal
        font-weight: 400
        line-height: 165.4%
    &_name
        padding-top: 20px
        color: #274C5B
        font-family: 'Roboto', sans-serif
        font-size: 25px
        font-style: normal
        font-weight: 600
        line-height: normal
    &_position
        color: #525C60
        font-family: 'Open Sans', sans-serif
        font-size: 15px
        font-style: normal
        font-weight: 400
        line-height: 165.4%
    &_hr
        margin: 102px 0 102px 0
        height: 1px
        background: #E0E0E0
    &_chart
        display: flex
        justify-content: space-between
    &_charts
        width: 211px
        height: 211px
        background: url('../icons/Chart.png') center (center/cover) no-repeat
        margin-bottom: 165px
        &_header
            padding-top: 64px
            color: #274C5B
            text-align: center
            font-family: 'Roboto', sans-serif
            font-size: 50px
            font-style: normal
            font-weight: 800
            line-height: normal
        &_subheader
            padding-top: 4px
            color: #274C5B
            text-align: center
            font-family: 'Open Sans', sans-serif
            font-size: 18px
            font-style: normal
            font-weight: 600
            line-height: 165.4%

.offer
    background-color: #274C5B
    padding-bottom: 100px
    &_container
        max-width: 1400px
        margin: 0 auto
    &_container_sss
        display: flex
        justify-content: space-between
        align-items: flex-end
        padding-top: 200px
    &__header
        color: #7EB693
        font-family: 'Yellowtail', cursive
        font-size: 36px
        font-style: normal
        font-weight: 400
        line-height: normal
    &__subtitle
        padding-top: 8px
        color: #fff
        text-align: center
        font-family: 'Roboto', sans-serif
        font-size: 50px
        font-style: normal
        font-weight: 800
        line-height: normal
    &__contents
        margin-top: 60px
        display: none
        justify-content: center
        flex-wrap: wrap
        &_active
            display: flex
    &__item
        background-color: #fff
        width: 335px
        min-height: 483px
        border: 1px solid #F9F8F8
        border-radius: 36px
        padding: 20px 20px 26px 20px
        overflow: hidden
        margin: 0px 7.5px 0 7.5px
        margin-bottom: 20px
    &__img
        max-width: 100%
        display: block
        margin: 0 auto
    &__subheader
        color: #274C5B
        margin: 0 0 0 30px
        font-family: 'Roboto', sans-serif
        font-size: 20px
        font-style: normal
        font-weight: 600
        line-height: normal
    hr
        margin: 0 0 0 30px 
        background: #DEDDDD
        margin-top: 20px
        margin-bottom: 20px
    &__footer
        margin: 0 0 0 30px
        display: flex
        justify-content: space-between
        align-items: center
    &__prices
        display: flex
        align-items: center
    &__old-price
        color: #B8B8B8
        text-align: center
        font-family: 'Open Sans', sans-serif
        font-size: 15px
        font-style: normal
        font-weight: 600
        line-height: normal
        padding-right: 8px
    &__price
        color: #274C5B
        text-align: center
        font-family: 'Open Sans', sans-serif
        font-size: 18px
        font-style: normal
        font-weight: 700
        line-height: normal
    &__btn
        width: 220px
        height: 80px
        border-radius: 16px
        background: #EFD372
        padding: 28px 49px 28px 46px
        display: block
    &__wrapper
        display: flex
        
.eco
    &_container
        position: relative
        width: auto
        height: 920px
        display: flex
    &_texts
        top: 100px
        left: 45%
        position: absolute
        background-color: #fff
        width: auto
        padding: 78px
        border-radius: 36px
    &_img
        height: auto
        width: 50%
        background: url('../img/Photo_10.jpg') center (center/cover) no-repeat
    &_title
        padding-bottom: 8px
        color: #7EB693
        font-family: 'Yellowtail', cursive
        font-size: 36px
        font-style: normal
        font-weight: 400
        line-height: normal
    &_subtitle
        padding-bottom: 35px
        color: #274C5B
        font-family: 'Roboto', sans-serif
        font-size: 50px
        font-style: normal
        font-weight: 800
        line-height: normal
    &_header
        padding-bottom: 7px
        color: #274C5B
        font-family: 'Roboto', sans-serif
        font-size: 25px
        font-style: normal
        font-weight: 500
        line-height: normal
    &_descr
        color: #525C60
        font-family: 'Open Sans', sans-serif
        font-size: 18px
        font-style: normal
        font-weight: 400
        line-height: 165.4%
        padding-bottom: 35px

.gallery
    width: auto
    background: #F1F8F4
    &_deck
        padding: 187px 0 187px 0
        display: flex
        justify-content: space-between
        position: relative
    &_img
        width: 100%
        height: auto
    &_card
        width: 32%
        position: relative
    &_btn
        display: flex
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        -ms-transform: translate(-50%, -50%)
        position: absolute
        a
            border-radius: 20px
            background-color: #fff
            padding: 20px 38px
            color: #274C5B
            font-family: 'Roboto', sans-serif
            font-size: 25px
            font-style: normal
            font-weight: 500
            line-height: normal

.news
    margin: 100px auto
    width: 80%
    border-radius: 36px
    height: 300px
    padding: 100px 50px
    background: url('../img/Photo_bc.jpg') center (center/cover) no-repeat
    &_content
        display: flex
        justify-content: space-between
        align-items: center
    &_header
        padding-right: 326px
        color: #FFF
        font-family: 'Roboto', sans-serif
        font-size: 50px
        font-style: normal
        font-weight: 800
        line-height: normal
    &_form
        display: flex
        &_txt
            padding: 28px 174px 31px 23px
            background-color: #fff
            border-radius: 16px
            color: #ABABAB
            font-family: 'Roboto', sans-serif
            font-size: 18px
            font-style: italic
            font-weight: 400
            line-height: normal
            border: none
        &_btn
            background-color: #274C5B
            border-radius: 16px
            color: #FFF
            font-family: 'Roboto', sans-serif
            font-size: 20px
            font-style: normal
            font-weight: 700
            line-height: normal
            padding: 28px 47px
            border: none

.footer
    padding-top: 100px
    &_container
        display: flex
        justify-content: center
        align-content: center
.right
    text-align: right
    list-style: none
.left
    text-align: left
    list-style: none
li
    list-style: none
ul
    padding: 0
    margin: 0
    list-style: none
    a
        color: #525C60
        font-family: Open Sans
        font-size: 18px
        font-style: normal
        font-weight: 400
        line-height: 272.9% /* 49.122px */
.footer_contact
    padding-bottom: 20px
    color: #274C5B
    font-family: Roboto
    font-size: 30px
    font-style: normal
    font-weight: 700
    line-height: normal
.footer_email
    color: #525C60
    font-family: Open Sans
    font-size: 18px
    font-style: normal
    font-weight: 800
    line-height: 165%
.footer_phone
    color: #525C60
    font-family: Open Sans
    font-size: 18px
    font-style: normal
    font-weight: 800
    line-height: 165%
.footer_address
    color: #525C60
    font-family: Open Sans
    font-size: 18px
    font-style: normal
    font-weight: 800
    line-height: 165%
.footer_pages
    padding-bottom: 20px
    color: #274C5B
    font-family: Roboto
    font-size: 30px
    font-style: normal
    font-weight: 700
    line-height: normal
    &_organick
        text-align: center
.footer_contact_logo
    text-align: center
    padding-bottom: 23px
    color: #274C5B
    font-family: Roboto
    font-size: 38px
    font-style: normal
    font-weight: 700
    line-height: normal
.footer_contact_txt
    color: #525C60
    text-align: center
    font-family: Open Sans
    font-size: 18px
    font-style: normal
    font-weight: 400
    line-height: 165.4%
.vl
    border-left: 1px solid #D4D4D4
    max-height: 300px
    margin: 0 50px

.copyright
    margin-top: 107px
    border-top: 1px solid #D4D4D4
    width: auto
    height: auto
    &_text
        text-align: center
        padding: 17px 0 17px 0
        color: #525C60
        font-family: Open Sans
        font-size: 18px
        font-style: normal
        font-weight: 700
        line-height: 165.4%


